:root {
  font-family: LeagueSpartan-Black, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;

  color-scheme: dark;
  background-color: var(--main-bg-dark); /* Revisar */
  --screen: var(--screen-bg-dark);
  --toggle: var(--toggle-bg-dark);
  --key: var(--key-dark);
  --key-shadow: var(--key-shadow-dark);
  --toggle-dot: var(--toggle-dot-dark);
  --dot-shadow: var(--dot-shadow-dark);
  --reset-bg: var(--reset-bg-dark);
  --reset-shadow: var(--reset-shadow-dark);
  --text1: var(--text1-dark);
  --text2: var(--text2-dark);

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  --white-text: hsl(0, 0, 100%);

  /*Dark Theme*/
  --main-bg-dark: hsl(222, 26%, 31%);
  --toggle-bg-dark: hsl(223, 31%, 20%);
  --screen-bg-dark: hsl(224, 36%, 15%);
  --key-dark: hsl(225, 21%, 49%);
  --key-shadow-dark: hsl(224, 28%, 35%);
  --toggle-dot-dark: hsl(6, 63%, 50%);
  --dot-shadow-dark: hsl(6, 70%, 34%);
  --reset-bg-dark: hsl(30, 25%, 89%);
  --reset-shadow-dark: hsl(28, 16%, 65%);
  --text1-dark: hsl(221, 14%, 31%);
  --text2-dark: hsl(0, 0, 100%);

  /*Light Theme*/
  --main-bg-light: hsl(0, 0%, 90%);
  --toggle-bg-light: hsl(0, 5%, 81%);
  --screen-bg-light: hsl(0, 0%, 93%);
  --key-light: hsl(185, 42%, 37%);
  --key-shadow-light: hsl(185, 58%, 25%);
  --toggle-dot-light: hsl(25, 98%, 40%);
  --dot-shadow-light: hsl(25, 99%, 27%);
  --reset-bg-light: hsl(45, 7%, 89%);
  --reset-shadow-light: hsl(35, 11%, 61%);
  --text1-light: hsl(60, 10%, 19%);
  --text2-light: hsl(0, 0, 100%);

  /*Aditional Theme*/
  --main-bg-dim: hsl(268, 75%, 9%);
  --toggle-bg-dim: hsl(268, 71%, 12%);
  --screen-bg-dim: hsl(268, 71%, 12%);
  --key-dim: hsl(281, 89%, 26%);
  --key-shadow-dim: hsl(285, 91%, 52%);
  --toggle-dot-dim: hsl(176, 100%, 44%);
  --dot-shadow-dim: hsl(177, 92%, 70%);
  --reset-bg-dim: hsl(268, 47%, 21%);
  --reset-shadow-dim: hsl(290, 70%, 36%);
  --text1-dim: hsl(52, 100%, 62%);
  --text2-dim: hsl(198, 20%, 13%);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
}

[color-scheme="dark"] {
  color-scheme: dark;
  background-color: var(--main-bg-dark);
  --screen: var(--screen-bg-dark);
  --toggle: var(--toggle-bg-dark);
  --key: var(--key-dark);
  --key-shadow: var(--key-shadow-dark);
  --toggle-dot: var(--toggle-dot-dark);
  --dot-shadow: var(--dot-shadow-dark);
  --reset-bg: var(--reset-bg-dark);
  --reset-shadow: var(--reset-shadow-dark);
  --text1: var(--text1-dark);
  --text2: var(--text2-dark);
}

[color-scheme="light"] {
  color-scheme: light;
  background-color: var(--main-bg-light);
  --screen: var(--screen-bg-light);
  --toggle: var(--toggle-bg-light);
  --key: var(--key-light);
  --key-shadow: var(--key-shadow-light);
  --toggle-dot: var(--toggle-dot-light);
  --dot-shadow: var(--dot-shadow-light);
  --reset-bg: var(--reset-bg-light);
  --reset-shadow: var(--reset-shadow-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--main-bg-light); /* Revisar */
    --screen: var(--screen-bg-light);
    --toggle: var(--toggle-bg-light);
    --key: var(--key-light);
    --key-shadow: var(--key-shadow-light);
    --toggle-dot: var(--toggle-dot-light);
    --dot-shadow: var(--dot-shadow-light);
    --reset-bg: var(--reset-bg-light);
    --reset-shadow: var(--reset-shadow-light);
    --text1: var(--text1-light);
    --text2: var(--text2-light);
  }
}
